.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
**/.vscode-test.*
**/tsconfig.tsbuildinfo
.github
.vscode
media
!media/icon.png
!media/wingman.woff
!media/wingman-logo.png
!media/Logo-black.png
!media/Logo-white.png
rsbuild.config.ts
vsc-extension-quickstart.md
docs
docs-site
shared
views-ui
node_modules
!node_modules/vscode-languageclient/**
!node_modules/ignore/**
scripts