.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
**/.vscode-test.*
.github
.vscode
docs
views-ui/**
views-ui/node_modules/**
node_modules/views-ui
node_modules/wingman-shared