<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Wingman AI</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Wingman AI</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Wingman AI needs microphone access to capture your voice.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Wingman AI uses speech recognition to transcribe your voice.</string>
</dict>
</plist>
