name: Publish Extension

on:
    workflow_dispatch:
    release:
        types: [published]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest
            - run: bun install --global @vscode/vsce
            - run: bun install
            - name: Publish
              working-directory: ./extension
              env:
                  TELEMETRY_CONNECTIONSTRING: ${{ secrets.TELEMETRY_CONNECTIONSTRING }}
              run: vsce publish -p ${{ secrets.PAT }}
